main {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "sidebar content";
  grid-template-columns: 250px 1fr;
}

main aside {
  grid-area: sidebar;
  border: 0.5px solid #bdc3c7;
  padding: 20px;
  text-align: center;
  background: var(--mint);
  border-radius: 4px 4px;
}

main aside section {
  display: grid;
  grid-gap: 10px;
}
aside button {
  padding: 25px !important;
  background: var(--sailorblue) !important;
  color: var(--tomato) !important;
  border-radius: 0px !important;
  text-transform: uppercase !important;
}
aside button:hover,
aside button:focus,
aside button.active {
  background: var(--tomato) !important;
  color: var(--sailorblue) !important;
}

main section {
  grid-area: content;
}
