.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.product {
  height: 100vh;
  background: var(--clouds);
}

.product__summary {
  width: 330px !important;
}
.product__color {
  margin: 3px !important;
  padding: 7px !important;
  border: 1px solid #d3d3d3 !important;
}
.product__color.selected {
  border: 5px solid #d3d3d3 !important;
}
.products-pagination {
  background: var(--sailorblue) !important;
}

.products-pagination .item {
  color: var(--tomato) !important;
}

.products-pagination .active.item {
  background: var(--tomato) !important;
  color: var(--sailorblue) !important;
}
