.cart-item {
  border-radius: 4px 4px !important;
  text-align: left;
  color: grey;
  background: var(--clouds) !important;
}

.cart-item i.close {
  float: right;
  cursor: pointer;
}

.cart-item p {
  clear: both;
}
