.discounted {
  text-decoration: line-through;
  color: var(--grey);
  font-size: 1rem;
  margin-left: 10px;
}
.price {
  color: var(--tomato);
  font-size: 1.4rem;
}

.product-card .add_to_cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.prices {
  text-align: center;
}

.more-details {
  background: orange !important;
  color: white !important;
}
