header {
  background: var(--sailorblue);
  color: var(--tomato);
  display: grid;
  padding: 15px;
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
}

header img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

header ul {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 100px 100px;
  grid-template-areas: ". sign-up sign-in";
  grid-gap: 30px;
  list-style-type: none;
}

li {
  cursor: pointer;
}
.signin {
  grid-area: sign-in;
}
li.signup {
  grid-area: sign-up;
  border-right: 1px solid var(--tomato);
}
