:root {
  --clouds: #dde8ea;
  --tomato: #ff6347;
  --sailorblue: #00203fff;
  --mint: #adefd1ff;
  --grey: #d3d3d3;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 1.2rem;
  background: var(--cloud);
  height: 100vh;
}
.app {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-gap: 20px;
  background: var(--clouds);
}
